body{
    background-image: url('https://i.ibb.co/QjN5dwS/abstract-textured-backgound.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}
.mean{
    text-align: center;
    font-size: 50px; 
}
.Restaurant{
    /* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
    border-radius: 15px;
}
.Dotcom{
    text-align: center;
    font-size: 60px;
    font-weight: 40px;
}
.Welcome{
    text-align: center;
    font-size: 80px; 
}
.statersh img{
  width: 600px;
  height: 400px;
  border-radius: 50px;
}
.meanu{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.staters{
    font-size: 60px;
    font-weight: 40px;
}
.stater{
    margin-left: 30px;
}
.stater li{
    font-size: 30px;
    font-weight: 10px;
  
}
.price{
    margin-left: 10px;
}
